In [ ]:
# STARTING PYTHON CODES

a = "ashutosh pandey"
print(a)

In [ ]:
# check the id function 
a = 120
print(id(a))

In [ ]:
# strings
a = "Ashutosh"
b = "pandey"
print(a + b)

In [ ]:
# intger
a = 12
print(type(a))

In [8]:
a = 12
b = 13
print(a + b)

25

In [ ]:
# float
a = 12.4
print(a)
print(type(a))

In [10]:
a = 12
print(type(a))

<class 'int'>

In [ ]:
# boolean
a = True
print(type(a))
print(a)

In [30]:
# printing multiple values
a = ("ashu", "pandey", "python", 24, 45, 67,)
print(a, sep="\n")

('ashu', 'pandey', 'python', 24, 45, 67)

In [12]:
# seperator codes
print("Rahul",26, sep=",")

Rahul,26

In [34]:
# end seperator codes
print("ashutosh" ,18, end="\n")
print("pandey" , 18,)

ashutosh 18
pandey 18

In [36]:
# mix
print("ashutosh" ,18,sep="\n", end=">-")
print("pandey")

ashutosh
18>-pandey

In [38]:
# operator codes
# arithmetic operator
a = 4
b = 3
print(a + b)

7

In [23]:
a = 42
b = 32
print(a - b)

10

In [24]:
a = 34
b = 17
print(a/b) # divide always give float

2.0

In [25]:
a = 23
b = 21
print(a * b)

483

In [26]:
a = 20
b = 2
print(a%b)

0

In [27]:
a = 35
b = 12
print(a//b)

2

In [ ]:
# comparison operator
a = 67
b = 56
print(a==b)

In [29]:
a = 34
b = 45
print(a!=b)

True

In [30]:
a = 34
b = 45
print(a>=b)

False

In [31]:
a = 23
b = 24
print(a<=b)

True

In [ ]:
# assignment operator
a = 23
a = a + 23
print(a)

In [33]:

a+= 34
print(a)

80

In [34]:
print(a)

80

In [35]:
a = 90
a = a + 60
print(a)

150

In [36]:
a = 40
a = a*2
print(a)

80

In [37]:
a = 35
a = a/7
print(a) # always give float

5.0

In [47]:
a = "Ashutosh pandey is the best player"
"Ashutosh" in a
"pandey" in a
"best in a"

'best in a'

In [ ]:
# if else example
age = int(input())
if(age>18):
    print("you are eligible for cast their vote")
else:
    print("wait until you turn 18")

In [5]:
age = int(input())
if(age>=20):
    print("you drive a car fearless")
    print("you getting a job in IT company")
else:
    print("wait and focus on your study")

19
wait and focus on your study

In [ ]:
# nested if else statements example
a = int(input())
if(age<18):
    # check if age is greater than 62
    if(age>=62):
        print("Take retirement and take care our health")
else:
    print("focus on your goals until they achieve")

In [ ]:
# if elif else

In [8]:
age = int(input())
if(age<=21):
    print("you are eligible for voting and driving")
elif(age>=65):
    print("take care")
else:
    print("invalid")
    
    # some mistake

90
take care

In [5]:
marks = int(input())
if(marks>=90 and marks<100):
    print("You take grade A")
elif(marks>=80 and marks<89):
    print("You take a grade of B")
elif(marks>=70 and marks<79):
    print("You take grade of C")
elif(marks>=60 and marks<69):
    print("you take a grade of D")
elif(marks<60):
    print("YOU take a grade of E")
else:
    print("invalid")

81
You take a grade of B

In [6]:
a = 5
b = ++5
print(b)

5

In [3]:
# while loop
i = 1
while(i<=6):
    print("you are best")
    
    i += 1

you are best
you are best
you are best
you are best
you are best
you are best

In [4]:
i = 0
while(i<=10):
    print(i)
    
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [15]:
# print the even numbers
i = 1
while(i<=20):
    if(i % 2 == 0 ):
        print(i)
        
        
    i+= 1

2
4
6
8
10
12
14
16
18
20

In [9]:
print("hello woeld")

hello woeld

In [21]:
# print the sum of first 20 numbers

i = 1
sum = 0
while(i<=20):
    sum+= i
    i+= 1
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210

In [22]:
a = 1
sum = 0
while(a<=15):
    sum+= a
    a+= 1
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120

In [6]:
# range function
range(20)

range(0, 20)

In [7]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [8]:
list(range(1,100,10))

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

In [9]:
list(range(10,-10,-2))

[10, 8, 6, 4, 2, 0, -2, -4, -6, -8]

In [19]:
# for loop 
for i in range(1,21):
    print(i, end=",")

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,

In [33]:
# print multiplication table 
n = int(input())
for i in range(1,11):
    print(n * i)

6
6
12
18
24
30
36
42
48
54
60

In [36]:
# print pattetn -1 
for i in range(5):
    for j in range(5):
        print("#", end=",")
    print()

#,#,#,#,#,
#,#,#,#,#,
#,#,#,#,#,
#,#,#,#,#,
#,#,#,#,#,

In [38]:
# print pattern example 2
for i in range(3):
    for j in range(3):
        print("*", end="")
    print()

***
***
***

In [1]:
# print pattern 2 
i = int(input())
for i in range(1,5):
    for j in range(i):
        print("#", end="")
    print()

4
#
##
###
####

In [5]:
# example 2
i = 15
for i in range(1,16):
    for j in range(i):
        print("*" , end="")
    print()

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************

In [6]:
for x in range(10):
    if x==6:
        print(x, end="")
    print(x)

0
1
2
3
4
5
66
7
8
9

In [7]:
for i in range(4):
    if i==2:
        print(i)
        i = 10

2

In [8]:
while i<20:
    print(i)
    i+= 1

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [20]:
i = int(input())

if(i/1==0):
    print("the number is prime")
    
else:
    ("print the number is not prime")

3

In [23]:
i = int(input())
for i in range(6):
    n = int(input())
    
    print("" * (n-i-1) + "*" * (2*i+1))

4
4
*
5
***
6
*****
7
*******
8
*********
9
***********

In [1]:
# STRING TOPIC

a = 'ashutosh'
print(type(a))

<class 'str'>

In [3]:
a = """
      it is a multiline comment 
"""
print(type(a))

<class 'str'>

In [2]:
a = "pandey"
type(a)

str

In [4]:
#ord and chr

ord('a')

97

In [5]:
ord('A')

65

In [7]:
ord('h')

104

In [8]:
chr(97)

'a'

In [9]:
chr(46)

'.'

In [10]:
chr(23)

'\x17'

In [13]:
# indexing in string
a = "ashutosh pandey"
print(len(a))

15

In [15]:
a = "ashutosh"
print(a[1])

s

In [16]:
a = "pandey"
print(a[-2])

e

In [20]:
a = "INDIANTEAMWINTHEWORLDCUP"
print(a[-10])
print(len(a))

H
24

In [21]:
# slicing in python
a = "ashutoshpandey"
print(len(a))

14

In [23]:
a

'ashutoshpandey'

In [25]:
print(a[0:13:3])

ausae

In [26]:
print(a[2::-1])

hsa

In [27]:
print(a[::-2])

ydahous

In [28]:
print(a[1:len(a):2])

suohady

In [34]:
print(a[12:11:-3])

e

In [40]:
print(a[5:11:-2])

In [2]:
# string method 
name = "ashutosh pandey"
name.capitalize()

'Ashutosh pandey'

In [3]:
name.title()

'Ashutosh Pandey'

In [4]:
name.upper()

'ASHUTOSH PANDEY'

In [5]:
name.lower()

'ashutosh pandey'

In [6]:
name.find("a")

0

In [7]:
name.count('a')

2

In [8]:
name.index('u')

3

In [9]:
name.replace("a" , "A")

'Ashutosh pAndey'

In [10]:
name.split()

['ashutosh', 'pandey']

In [12]:
name.isupper()

False

In [11]:
name.islower()

True

In [17]:
# string format
name = input()
age = int(input())
print(f"hey my name is {name}.my age is {age}.")

ashutosh pandey
18
hey my name is ashutosh pandey.my age is 18.

In [21]:
statement = "the quick brown fox jumps over the lazy dog"
for i in statement:
    if(i=="a" or i=="e" or i=="i" or i=="o" or i=="u"):
        print("it is a vowel")
        print(i)

it is a vowel
e
it is a vowel
u
it is a vowel
i
it is a vowel
o
it is a vowel
o
it is a vowel
u
it is a vowel
o
it is a vowel
e
it is a vowel
e
it is a vowel
a
it is a vowel
o

In [25]:
# string pallindrome

#string palindrome means if you write a string their reverse is equal to their string

a = "MOM"
if a==a[::-1]:
    print("yes")
    print(a)
else:
    print("no")

yes
MOM

In [1]:
# list in python
a = list()
print(type(a))

<class 'list'>

In [2]:
a = [1,2,3,4,5]
print(type(a))
print(a)

<class 'list'>
[1, 2, 3, 4, 5]

In [3]:
print(a[0])

1

In [4]:
print(a[1:4:1])

[2, 3, 4]

In [10]:
a[0] = 9
print(a)

[9, 2, 3, 4, 5]

In [11]:
print(id(a))

1928997395264

In [21]:
# list slicing 
l = [1,4,7,9,3,8,2,13,56]
print(len(l))

9

In [13]:
print(l[::])

[1, 4, 7, 9, 3]

In [14]:
print(l[1:5:-1])

[]

In [15]:
print(l[0:5:-1])

[]

In [24]:
print(l[:7:-1])

[56]

In [23]:
print(l[-1:-6:-2])

[56, 2, 3]

In [22]:
print(l[-1])

56

In [16]:
print(l[3:5:-1])

[]

In [29]:
# methods in list
l = [2,4,6,8,10]
l.count(2)

1

In [41]:
print(l)

[]

In [42]:
l1 = [3,9,5,12,4,13]
print(len(l1))

6

In [43]:
l1.count(3)

1

In [52]:
print(l1)

[2, 2, 2, 2, 1, 1, 3, 9, 5, 12, 4, 13]

In [57]:
l2 = [1,3,5,7,9]
print(l2)

[1, 3, 5, 7, 9]

In [58]:
l2.insert(0,9)
print(l2)

[9, 1, 3, 5, 7, 9]

In [59]:
l2.pop()

9

In [62]:
l2.remove(9)
print(l2)

[1, 5, 7]

In [63]:
print(l2)

[1, 5, 7]

In [70]:
l2.append(l1)
print(l2)

[1, 3, 3, 3, 5, 7, [2, 2, 2, 2, 1, 1, 3, 9, 5, 12, 4, 13], [2, 2, 2, 2, 1, 1, 3, 9, 5, 12, 4, 13]]

In [68]:
l2.insert(1,3)
print(l2)

[1, 3, 3, 3, 5, 7]

In [71]:
a = [1,2,3,4,5,6]
print(a)

[1, 2, 3, 4, 5, 6]

In [73]:
a1 = [1,3,5,7]
print(a1)

[1, 3, 5, 7]

In [76]:
a.append(a1)
print(a)

[1, 2, 3, 4, 5, 6, [1, 3, 5, 7], [1, 3, 5, 7], [1, 3, 5, 7]]

In [77]:
a.extend(a1)
print(a)

[1, 2, 3, 4, 5, 6, [1, 3, 5, 7], [1, 3, 5, 7], [1, 3, 5, 7], 1, 3, 5, 7]

In [78]:
s = [1,2,3,4,5]
print(s)

[1, 2, 3, 4, 5]

In [79]:
s1 = [2,3,4,66,7]
print(s1)

[2, 3, 4, 66, 7]

In [80]:
s.append(s1)
print(s)

[1, 2, 3, 4, 5, [2, 3, 4, 66, 7]]

In [81]:
s.extend(s1)
print(s)

[1, 2, 3, 4, 5, [2, 3, 4, 66, 7], 2, 3, 4, 66, 7]

In [82]:
# heterogenous list is a type of list in which different type of data types present in same list
l = [2,"ashu",1.5,True]
print(type(2), type("ashu"), type(1.5), type(True))

<class 'int'> <class 'str'> <class 'float'> <class 'bool'>

In [83]:
for i in l:
    print(i)

2
ashu
1.5
True

In [84]:
# 2d list in python
a1 = [1,2,3]
a2 = [4,5,6]
a3 = [7,8,9]
a = [a1,a2,a3]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [87]:
# indexing in 2d list
a[0][2]

3

In [88]:
a[2][2]

9

In [89]:
a[0][0]

1

In [90]:
a[1][2]

6

In [91]:
a[1][0]

4

In [92]:
# iteration in list
for i in a:
    print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [93]:
for i in a1:
    print(a1)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [94]:
for i in a:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [95]:
# list comprehension

l = [(i**3) for i in range(5)]
print(l)

[0, 1, 8, 27, 64]

In [102]:
l =[]
for i in range(5):
    l.append(i**3)
print(l)

[0, 1, 8, 27, 64]

In [106]:
players = ['Jadeja','Rahul','Rohit']
players[len(players):] = ['Dhoni','Virat']
print(players)

['Jadeja', 'Rahul', 'Rohit', 'Dhoni', 'Virat']

In [108]:
word = "Scaler Data Science Course"
word_list = list(word)
print(word_list)

['S', 'c', 'a', 'l', 'e', 'r', ' ', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'C', 'o', 'u', 'r', 's', 'e']

In [1]:
# tuple in python
a = ("dustin", "steve", "will", "mike", "lucas")
print(type(a))

<class 'tuple'>

In [5]:
print(a[1])

steve

In [6]:
# empty tuple
a = tuple()
print(a)

()

In [8]:
t = (2,4)
print(t)
print(type(t))

(2, 4)
<class 'tuple'>

In [9]:
t1 = (2,)
print(type(t1))

<class 'tuple'>

In [10]:
t2 = ([1,3], [4,5])
print(type(t2))

<class 'tuple'>

In [14]:
t2[0]

[1, 3]

In [15]:
# mutability of tuple in python
t = ([1,2,3], "ashutosh")
print(type(t))

<class 'tuple'>

In [16]:
t[0][0] = 56
print(t)

([56, 2, 3], 'ashutosh')

In [17]:
# tuple unpacking
t = (1,3,5,7)
a,b,c,d = t
print(t)

(1, 3, 5, 7)

In [19]:
a = (10,20,30,40)
print(a[2])

30

In [31]:
population = 0
l = [1,2,45,56,78,90,12,34,56,78]
for i in l:
    population+= i
    
    print(population)

1
3
48
104
182
272
284
318
374
452

In [2]:
# dictionary 
d ={}
print(type(d))
print(d)

<class 'dict'>
{}

In [1]:
players = {
    "virat kholi": 76,
    "rohit sharma": 9,
    "shivam dube": 27,
}
print(players)
print(type(players))

{'virat kholi': 76, 'rohit sharma': 9, 'shivam dube': 27}
<class 'dict'>

In [8]:
a = ["virat", "rohit", "shivam"]
runs = [76,9,27]
players1 = dict(zip(a,runs))
print(players1)

{'virat': 76, 'rohit': 9, 'shivam': 27}

In [25]:
fruits = {
    "mango" : 100,
    "apple" : 120,
    "grapes" : 150
}
print(fruits)

{'mango': 100, 'apple': 120, 'grapes': 150}

In [24]:
a = ["mango", "grapes", "apple"]
b = [100,120,140]
fruits1 = dict(zip(a, b))
print(fruits1)
a[0]
print(a[0])
print(a[1])

{'mango': 100, 'grapes': 120, 'apple': 140}
mango
grapes

In [22]:
# avoid error in python use get method
fruits.get("guava", "not available")

'not available'

In [26]:
fruits

{'mango': 100, 'apple': 120, 'grapes': 150}

In [27]:
fruits["mango"] = {"small: 50", "large: 70"}
print(fruits)

{'mango': {'small: 50', 'large: 70'}, 'apple': 120, 'grapes': 150}

In [14]:
# updating dictionary
fruits["oranges", "litchi", "strawberry"] ={80,100,120}
print(fruits)

NameError: name 'fruits' is not defined

In [37]:
# delteting operations in dictionary
fruits.pop("grapes")

150

In [38]:
print(fruits)

{'mango': {'small: 50', 'large: 70'}, ('oranges', 'litchi', 'strawberry'): {80, 100, 120}}

In [40]:
fruits.popitem()

(('oranges', 'litchi', 'strawberry'), {80, 100, 120})

In [43]:
print(a)

['mango', 'grapes', 'apple']

In [45]:
fruits = {
    "mango" : 100,
    "apple" : 120,
    "grapes" : 150
}
print(fruits)

{'mango': 100, 'apple': 120, 'grapes': 150}

In [46]:
# iteration in dictionary
for i in fruits:
    print(i)

mango
apple
grapes

In [47]:
for i in fruits:
    print(i, fruits[i])

mango 100
apple 120
grapes 150

In [51]:
for key, value in fruits.items():
    print(key, value)

mango 100
apple 120
grapes 150

In [54]:
fruits.keys()

dict_keys(['mango', 'apple', 'grapes'])

In [56]:
fruits.values()

dict_values([100, 120, 150])

In [57]:
fruits.items()

dict_items([('mango', 100), ('apple', 120), ('grapes', 150)])

In [2]:
# SETS in python
s = {}
print(type(s))

<class 'dict'>

In [4]:
s = set()
print(type(s))
print(s)

<class 'set'>
set()

In [5]:
s = {1,1,2,2,3,3,4,4,5,5}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5}

In [7]:
s = set("ashutosh pandey")
print(s)
# because set is unordered

{'o', 't', 'd', 's', 'u', 'e', ' ', 'n', 'h', 'y', 'p', 'a'}

In [8]:
# iteration in sets
s1 = set("PANDEY")
for i in s1:
    print(i)

E
A
Y
P
N
D

In [11]:
# sets operations
# update
print(s)
name = "HANU"
s.update(name)

{'o', 'H', 't', 'S', 'd', 's', 'u', 'e', ' ', 'n', 'O', 'h', 'y', 'T', 'p', 'a'}

In [12]:
s2 = {1,2,3,4,5}
name1 = "STEVE"
s2.update(name1)
print(type(s2))
print(s2)

<class 'set'>
{1, 2, 3, 4, 5, 'T', 'E', 'V', 'S'}

In [ ]:
# pop method

In [21]:

s.pop()

'O'

In [36]:
# intersection in python
python = {"ashutosh", "vansh", "steve", "dustin"}
java = {"dhruv", "ashutosh", "ajay", "vishal"}
python.intersection(java)
print(python.intersection(java))

set()

In [39]:
# union
python.union(java)

{'ajay', 'ashutosh', 'dhruv', 'dustin', 'mohit', 'steve', 'vansh', 'vishal'}

In [10]:
git = {"ashutosh", "vansh", "dhruv", "aman"}
javascript = {"ashutosh", "mohit", "ajay", "vishal"}
git.intersection(javascript)
javascript.intersection(git)
git.union(javascript)
git.difference(javascript)
print("helo world")

helo world

In [103]:
name = input()
name

 ashutosh pandey

'ashutosh pandey'

In [105]:
for i in name:
    print(i)

a
s
h
u
t
o
s
h

p
a
n
d
e
y

In [109]:
freq = {}
for i in name:
    if i not in freq:
        freq[i] = 1
    else:
        freq[i] += 1
        
print(freq)

{'a': 2, 's': 2, 'h': 2, 'u': 1, 't': 1, 'o': 1, ' ': 1, 'p': 1, 'n': 1, 'd': 1, 'e': 1, 'y': 1}

In [15]:
# function in python

def greet():
    print("hey,good morning")
print(greet())

hey,good morning
None

In [23]:
# parameters and argument
def greet(name):
    print("how,are you",name)
print(greet("ASHUTOSH"))

how,are you ASHUTOSH
None

In [19]:
def add(a,b):
    c = a + b
    print(c)
print(add(3,4))

7
None

In [ ]:
def add(a,b):
    c = a + b
    return c

In [30]:
b = add(3,4)
print(b)
print(type(b))

7
None
<class 'NoneType'>

In [41]:
def func():
    print("befor return")
    return("ashu")
    print("after return")
    
print(func())
a = func()
print(a)

befor return
ashu
befor return
ashu

In [39]:
# returning multiple values
def intro(name , age, hobby):
    return(name, age, hobby)
#(c,d,e) = print("ashu", 18, "cricket")
#print(c,d,e)
c = intro("ashu", 18, "cricket")
print(c)
type(c)

('ashu', 18, 'cricket')

tuple

In [45]:
# scope of a variable
a = 5
# local variable
def func():
    x = 10
    print(x)

func()
print(a)
print(x)

10
5

NameError: name 'x' is not defined

In [47]:
a = 10

def func():
    x = 34
    print(x)
    
func()
print(a)
print(x)

34
10

NameError: name 'x' is not defined

In [52]:
a = 23

def func():
    global a
    a = 20
    print(a)
    
print(a)    
func()
print(a)

23
20
20

In [3]:
# lambda function
def add(a, b):
    return a + b
add(3,4)

7

In [5]:
(lambda a,b : a + b) (3,4)

7

In [6]:
func = (lambda a,b : a + b) 
func(4,5)

9

In [8]:
def larger(a,b):
    if a>b:
        return a
    else:
        return b
larger(46,5)

46

In [12]:
(lambda a, b : a if a>b else b) (44,89)

89

In [25]:
# print even numbers
def even(li):
    for i in li:
        if i % 2 == 0:
            print(i, end=",")

In [26]:
li = [2,4,6,8,10,11,14,16,13,15,17,19]
even(li)

2,4,6,8,10,14,16,

In [59]:
# take a list and return a unique list
def unique(li):
    
    new = []
    
    for i in li:
        
        if i not in new:
            
            new.append(i)
    return new

In [63]:
unique(li)

[1, 2, 3, 4]

In [67]:
# positional arguments:

def intro(name,hobby):
    print("my name is", name)
    print("my hobby is", hobby)

In [68]:
intro("ashutosh", "playing cricket")

my name is ashutosh
my hobby is playing cricket

In [79]:
# default arguments:
def intro(name, hobby = "playing bgmi"):
    print("my name is", name)
    print("my hobby is",  hobby)

In [80]:
intro("ashutosh pandey")

my name is ashutosh pandey
my hobby is playing bgmi

In [81]:
intro("hanu", "playing cricket")

my name is hanu
my hobby is playing cricket

In [90]:
# arbitrary arguments:
def test(*args):
    print(type(args))
    print(args)
    for i in args:
        print(i * i, end=" ")

In [91]:
test(2,3,4)

<class 'tuple'>
(2, 3, 4)
4 9 16

In [12]:
# keyword arguments:
def intro(**kwargs):
    #print(kwargs)
    #print(type(kwargs))
    for key,value in kwargs.items():
        print(key, value, sep=" ")

In [13]:
intro(name = "ashu", age="18", hobby="playing cricket")

name ashu
age 18
hobby playing cricket

In [15]:
#oops in python
class Human:
    
    def __init__(self, name, age, hobby):
        self.name = name
        self.age = age
        self.hobby = hobby

In [19]:
ashu = Human("ashutosh", 18, "playing cricket")
print(ashu)

ashu.name
ashu.age
ashu.hobby

<__main__.Human object at 0x0000021CB677CAD0>

'playing cricket'

In [65]:
class Human:
       
    def __init__(self, name, age, hobby):
        self.name = name
        self.age = age
        self.hobby = hobby
    # methods
    def greet(self):
        print(f"hey my name is {self.name}. good morning!!")

In [25]:
rahul = Human("ashutosh pandey", 18, "playing bgmi")
rahul.greet()

hey my name is ashutosh pandey. good morning!!

In [67]:
class Human:
    # class variable
    population = 0
    data = []
    
    # constructor
    def __init__(self, name, age):
        # attributes for an object
        self.name = name
        self.age = age
        # increment population for every new object
        Human.population += 1
        Human.data.append(self.name)

In [69]:
ashu = Human("ashutosh pandey", 18)
ashu.name
Human.population
Human.data

['ashutosh pandey']

In [71]:
steve = Human("Steve harington", 23)
Human.population
steve.name
Human.data

['ashutosh pandey', 'Steve harington']

In [73]:
Human.population

2

In [ ]:
# inheritance code:
# human is base class
# employee is derived classs

In [89]:

class Employee(Human):
    # re-initiate constructor
    def __init__(self, name, age, company, post):
        super().__init__(name, age)
        # attribute for employee class
        self.company = company
        self.post = post
        # add some attributes
        
    def hire(self, person):
        print(f"{person} has been hired in our company")
        Human.data.append(person)
        Human.population += 1

In [91]:
ashu = Employee("ashutosh pandy", 18, "google", "software engineer")
ashu.company

'google'

In [93]:
ashu.hire("harry")

harry has been hired in our company

In [101]:
Human.population
Human.data

['ashutosh pandey',
 'Steve harington',
 'ashutosh pandy',
 'ashutosh pandy',
 'ashutosh pandy',
 'ashutosh pandy',
 'harry']

In [25]:
# file handling
f = open("table.c")
f.read()

'hlo , my name is ashutosh pandey'

In [27]:
f.close()
f.closed

True

In [5]:
f = open("name.text1", "w")
f.write("i am writale now")

16

In [25]:
with open("name.text1") as f:
    print(f.read())

hey my name is ashu and my hobby is playing cricket

In [32]:
with open("name.text1", "w") as f:
    f.write("hey my name is ashu and my hobby is playing cricket")

In [34]:
with open("new.text", "w") as f:
    f.write("this is a new file")

In [42]:
with open("new.text", "w") as f:
    f.write("this is updated line")

In [54]:
# binary file
#with open("Picture1.png", "rb") as f:
    #data = f.read()
    #print(data)
    
with open("new.png", "wb") as f:
    d.write(data)

NameError: name 'd' is not defined

In [58]:
# types of error in python
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [64]:
a = 5
b = 0
try:(a/b)
except:
    print("this is not error show")
    
    
print("hello ashu")

this is not error show
hello ashu

In [68]:
def convert(t):
    return t*9/5 + 32

print(convert(20))

68.0

In [80]:
def fun1(name, age):
    print(name,age)
    
func1 = ("mohit", 18)
print(func1)

('mohit', 18)

In [88]:
def interest(p,c,t=2, r=0.09):
    return(p*t*r)
interest()

TypeError: interest() missing 2 required positional arguments: 'p' and 'c'